<!-- <app-navbar></app-navbar> -->
<!-- <app-home></app-home> -->
<!-- <app-login></app-login> -->
<!-- <app-residential-rent></app-residential-rent> -->
<!-- <app-addproperty></app-addproperty> -->
<!-- <app-user-dash></app-user-dash> -->
<!-- <app-property-list></app-property-list> -->
<!-- <app-property-detail></app-property-detail> -->

<!-- <app-commercial-rent></app-commercial-rent> -->
<!-- <app-commercial-buy></app-commercial-buy> -->
<!-- <app-signup></app-signup> -->
<!-- <app-bigcard></app-bigcard> -->
<router-outlet></router-outlet>
<app-footer></app-footer>