<!-- <p>addproperty works!</p> -->
<app-navbar></app-navbar>
<div class="container add-property-container">
    <div class="row">
        <div class="col-lg-6 col-md-12 add-property-images mt-5">
            <span class="small-heading">Post a Property</span>
            <h1 class="heading mt-3">Post Your Property on Estate Corp <span class="tag">Free!</span></h1>
            <p class="heading-p">Ready to sell or rent your property? Estate Corp makes it easy to reach thousands of potential buyers and renters. Choose the publication option that best suits your needs and get started today!</p>
            <div class="side-container">
                <img src="assets/images/add-property-side.png" class="side-image img-fluid">
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="form-container">
                <form [formGroup]="propertyForm" (ngSubmit)="submitPropertyForm()" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group col-lg-4 col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="propertyOption"
                                    name="propertyOption" value="sell">
                                <label class="form-check-label fs-6 fw-bold">
                                    Sell
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-lg-4 col-sm-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="propertyOption"
                                    name="propertyOption" value="rent">
                                <label class="form-check-label fs-6 fw-bold">
                                    Rent
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row field-container">
                        <!-- <img src="https://cdn.prod.website-files.com/66535ae1be2305926e53d855/6655e93a96a26ea96bddb951_Dots.svg" alt="" id="w-node-_8cf3b932-28a4-e2ef-33cb-1139b32b0b7a-b32b0b66" class="cta-dots"> -->
                        <div class="form-group col-lg-9 col-sm-12">
                            <div class="property-details">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                    <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022M6 8.694 1 10.36V15h5zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5z"/>
                                    <path d="M2 11h1v1H2zm2 0h1v1H4zm-2 2h1v1H2zm2 0h1v1H4zm4-4h1v1H8zm2 0h1v1h-1zm-2 2h1v1H8zm2 0h1v1h-1zm2-2h1v1h-1zm0 2h1v1h-1zM8 7h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zM8 5h1v1H8zm2 0h1v1h-1zm2 0h1v1h-1zm0-2h1v1h-1z"/>
                                  </svg>
                                <h4 class="custom-bold">Property Information</h4>
                            </div>
                            <div class="mb-1 mt-3">
                                <select class="form-select" formControlName="propertyType">
                                    <option value="0" class="form-option">Property Type</option>
                                    <option value="1" class="form-option">Residential Buy</option>
                                    <option value="2" class="form-option">Residential Rent</option>
                                    <option value="3" class="form-option">Commercial Buy</option>
                                    <option value="4" class="form-option">Commercial Rent</option>
                                    <option value="5" class="form-option">Hot property</option>
                                    <option value="6" class="form-option">hot  resale property</option>
                                    <option value="7" class="form-option"> hot rental property</option>
                                    <option value="8" class="form-option"> hot commercial property</option>
                                    <option value="9" class="form-option">Database</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <input type="text" class="form-control" formControlName="projectName" placeholder="Project Name...">
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-sm-12">
                            <div class="mb-3">
                                <input type="text" class="form-control" formControlName="propertyName" placeholder="Property Name...">
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="showRadioSection()">
                        <div class="form-group col-lg-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="propertyVariant"
                                    name="propertyVariant" value="full house">
                                <label class="form-check-label fs-6 fw-bold">
                                    Full House
                                </label>
                            </div>
                        </div>

                        <div class="form-group col-lg-6">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" formControlName="propertyVariant"
                                    name="propertyVariant" value="On sharing basis">
                                <label class="form-check-label  fs-6 fw-bold">
                                    Sharing basis
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="location">
                        <div class="property-details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>   
                            </svg>
                            <h4 class="custom-bold">Property Location</h4>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12">
                                <input type="text" class="form-control" formControlName="city" placeholder="City...">
                            </div>
                            <div class="form-group col-lg-6 col-sm-12">
                                <input type="text" class="form-control" formControlName="locality" placeholder="Locality...">
                            </div>
                            <div class="form-group col-lg-6 col-sm-12">
                                <input type="text" class="form-control" formControlName="address" placeholder="Address...">
                            </div>
                        </div>
                    </div>
                    <div class="location">
                        <div class="property-details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
                            </svg>
                            <h4 class="custom-bold">Property Features</h4>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' || 
                            propertyForm.value.propertyType === '6' || 
                            propertyForm.value.propertyType === '17' ">
                                <select class="form-select">
                                    <option value="0" class="form-option">Bedrooms</option>
                                    <option value="1" class="form-option">1</option>
                                    <option value="2" class="form-option">2</option>
                                    <option value="3" class="form-option">3</option>
                                    <option value="4" class="form-option">4</option>
                                    <option value="5" class="form-option">5</option>
                                    <option value="6" class="form-option">6</option>
                                    <option value="7" class="form-option">7</option>
                                    <option value="8" class="form-option">8</option>
                                    <option value="9" class="form-option">9</option>
                                    <option value="10" class="form-option">10</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' || 
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ||
                            propertyForm.value.propertyType === '9' ||
                            propertyForm.value.propertyType === '10' ||
                            propertyForm.value.propertyType === '12' ||
                            propertyForm.value.propertyType === '14' ||
                            propertyForm.value.propertyType === 17 ">
                                <input type="number" min="0" class="form-control form-number"
                                    formControlName="totalFloor" placeholder="Total Floor">
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' || 
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ||
                            propertyForm.value.propertyType === '9' ||
                            propertyForm.value.propertyType === '10' ||
                            propertyForm.value.propertyType === '12' ||
                            propertyForm.value.propertyType === '14' ||
                            propertyForm.value.propertyType === 17 ">
                                <select class="form-select form-control">
                                    <option value="facing">Facing</option>
                                    <option value="North">North</option>
                                    <option value="Northeast">Northeast</option>
                                    <option value="East">East</option>
                                    <option value="Southeast">Southeast</option>
                                    <option value="South">South</option>
                                    <option value="Southwest">Southwest</option>
                                    <option value="West">West</option>
                                    <option value="Northwest">Northwest</option>                                    
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' || 
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ||
                            propertyForm.value.propertyType === '9' ||
                            propertyForm.value.propertyType === '10' ||
                            propertyForm.value.propertyType === '12' ||
                            propertyForm.value.propertyType === '17' ">
                                <select class="form-select">
                                    <option value="Floor no.">Floor no.</option>
                                    <option value="lower Basement">Lower Basement</option>
                                    <option value="Upper Basement">Upper Basement</option>
                                    <option value="Ground">Ground</option>
                                    <option *ngFor="let floor of floors" [value]="floor">{{ floor }}</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' || 
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ||
                            propertyForm.value.propertyType === '9' ||
                            propertyForm.value.propertyType === '10' ||
                            propertyForm.value.propertyType === '12' ||
                            propertyForm.value.propertyType === '17' ">
                                <select class="form-select">
                                    <option value="Furnished Status">Furnished Status</option>
                                    <option value="Furnished">Furnished</option>
                                    <option value="Unfurnished">Unfurnished</option>
                                    <option value="Semi-furnished">Semi-furnished</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ">
                                <select class="form-select">
                                    <option value="Balconies">Balconies</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value=">10">>10</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ||
                            propertyForm.value.propertyType === '17'">
                                <select class="form-select">
                                    <option value="Bathrooms">Bathrooms</option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value=">10">>10</option>

                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12"
                                *ngIf="propertyForm.value.propertyType === '9' || propertyForm.value.propertyType === '10' ">
                                <label class="form-label">Personal Washroom</label>
                                <select class="form-select" formControlName="personalWashroom">
                                    <option value="0">Yes</option>
                                    <option value="1">No</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '4' ||
                            propertyForm.value.propertyType === '11' ||
                            propertyForm.value.propertyType === '13' ||
                            propertyForm.value.propertyType === '15' ||
                            propertyForm.value.propertyType === '16' 
                            ">
                                <label class="form-label">Boundary Wall made</label>
                                <select class="form-select" formControlName="boundaryWall">
                                    <option value="0">Yes</option>
                                    <option value="1">No</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12"
                                *ngIf="propertyForm.value.propertyType === '9' || propertyForm.value.propertyType === '10' ">
                                <label class="form-label">Pantry/Cafeteria</label>
                                <select class="form-select" formControlName="pentryCafetria">
                                    <option value="0">Yes</option>
                                    <option value="1">No</option>
                                    <option value="2">Not Avaliable</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="location">
                        <div class="property-details">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5z"/>
                                <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5z"/>
                                <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z"/>
                            </svg>
                            <h4 class="custom-bold">Possession Status</h4>
                        </div>
                        <div class="row align-items-center">
                            <div class="form-group col-lg-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="possesionStatus"
                                        name="possesionStatus" value="Under Contruction">
                                    <label class="form-check-label fs-6 fw-bold">
                                        Under Construction
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" formControlName="possesionStatus"
                                        name="possesionStatus" value="Ready to move">
                                    <label class="form-check-label fs-6 fw-bold">
                                        Ready to move
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12"
                                *ngIf="propertyForm.value.possesionStatus === 'Ready to move'">
                                <select class="form-select">
                                    <option value="">Age of Construction</option>
                                    <option value="New Construction" class="form-option">New Construction</option>
                                    <option value="Less than 5 year" class="form-option">Less than 5 year</option>
                                    <option value="5 to 10 year" class="form-option">5 to 10 year</option>
                                    <option value="10 to 15 year" class="form-option">10 to 15 year</option>
                                    <option value="15 to 20 year" class="form-option">15 to 20 year</option>
                                    <option value="Above 20 year" class="form-option">Above 20 year</option>
                                </select>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12"
                                *ngIf="propertyForm.value.possesionStatus === 'Under Contruction'">
                                <div class="property-details mb-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                        <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5z"/>
                                        <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
                                    </svg>
                                    <label class="form-label fs-6 fw-bold mt-2">Availability From</label>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <select class="form-select"
                                            placeholder="Months">
                                            <option value="January" class="form-option">January</option>
                                            <option value="February" class="form-option">February</option>
                                            <option value="March" class="form-option">March</option>
                                            <option value="April" class="form-option">April</option>
                                            <option value="May" class="form-option">May</option>
                                            <option value="June" class="form-option">June</option>
                                            <option value="July" class="form-option">July</option>
                                            <option value="August" class="form-option">August</option>
                                            <option value="September" class="form-option">September</option>
                                            <option value="October" class="form-option">October</option>
                                            <option value="November" class="form-option">November</option>
                                            <option value="December" class="form-option">December</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <select class="form-select"
                                            placeholder="Year">
                                            <option value="2024" class="form-option">2024</option>
                                            <option value="2025" class="form-option">2025</option>
                                            <option value="2026" class="form-option">2026</option>
                                            <option value="2027" class="form-option">2027</option>
                                            <option value="2028" class="form-option">2028</option>
                                            <option value="2029" class="form-option">2029</option>
                                            <option value="2030" class="form-option">2030</option>
                                            <option value="2031" class="form-option">2031</option>
                                            <option value="2032" class="form-option">2032</option>
                                            <option value="2033" class="form-option">2033</option>
                                            <option value="2034" class="form-option">2034</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="location">
                        <div class="property-details mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M0 .5A.5.5 0 0 1 .5 0h15a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H14v2h1.5a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-3a.5.5 0 0 1 .5-.5H2v-2H.5a.5.5 0 0 1-.5-.5v-3A.5.5 0 0 1 .5 6H2V4H.5a.5.5 0 0 1-.5-.5zM3 4v2h4.5V4zm5.5 0v2H13V4zM3 10v2h4.5v-2zm5.5 0v2H13v-2zM1 1v2h3.5V1zm4.5 0v2h5V1zm6 0v2H15V1zM1 7v2h3.5V7zm4.5 0v2h5V7zm6 0v2H15V7zM1 13v2h3.5v-2zm4.5 0v2h5v-2zm6 0v2H15v-2z"/>
                            </svg>
                            <h5>Area</h5>   
                        </div>
                        <p>Provide either Carpet Area or Super Area</p>
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' || 
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' ||
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' || 
                            propertyForm.value.propertyType === '9' ||
                            propertyForm.value.propertyType === '10' ||
                            propertyForm.value.propertyType === '17' ">
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" min="0" step="0.1" class="form-control" formControlName="carpetArea" placeholder="Carpet Area">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="carpetAreaUnit">
                                            <option value="Sq-ft" class="form-option">Sq-ft</option>
                                            <option value="Sq-yrd" class="form-option">Sq-yrd</option>
                                            <option value="Sq-m" class="form-option">Sq-m</option>
                                            <option value="Acre" class="form-option">Acre</option>
                                            <option value="Bigha" class="form-option">Bigha</option>
                                            <option value="Hectare" class="form-option">Hectare</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Kanal" class="form-option">Kanal</option>
                                            <option value="Biswa1" class="form-option">Biswa1</option>
                                            <option value="Biswa2" class="form-option">Biswa2</option>
                                            <option value="Ground" class="form-option">Ground</option>
                                            <option value="Aankadam" class="form-option">Aankadam</option>
                                            <option value="Rood" class="form-option">Rood</option>
                                            <option value="Chatak" class="form-option">Chatak</option>
                                            <option value="Kottah" class="form-option">Kottah</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Cent" class="form-option">Cent</option>
                                            <option value="Perc" class="form-option">Perc</option>
                                            <option value="Guntha" class="form-option">Guntha</option>
                                            <option value="Are" class="form-option">Are</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12"
                                *ngIf="propertyForm.value.propertyType === '9' || propertyForm.value.propertyType === '10'">
                                <label class="form-label">Covered Area</label>
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" class="form-control" formControlName="coveredArea">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="coveredAreaUnit">
                                            <option value="Sq-ft" class="form-option">Sq-ft</option>
                                            <option value="Sq-yrd" class="form-option">Sq-yrd</option>
                                            <option value="Sq-m" class="form-option">Sq-m</option>
                                            <option value="Acre" class="form-option">Acre</option>
                                            <option value="Bigha" class="form-option">Bigha</option>
                                            <option value="Hectare" class="form-option">Hectare</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Kanal" class="form-option">Kanal</option>
                                            <option value="Biswa1" class="form-option">Biswa1</option>
                                            <option value="Biswa2" class="form-option">Biswa2</option>
                                            <option value="Ground" class="form-option">Ground</option>
                                            <option value="Aankadam" class="form-option">Aankadam</option>
                                            <option value="Rood" class="form-option">Rood</option>
                                            <option value="Chatak" class="form-option">Chatak</option>
                                            <option value="Kottah" class="form-option">Kottah</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Cent" class="form-option">Cent</option>
                                            <option value="Perc" class="form-option">Perc</option>
                                            <option value="Guntha" class="form-option">Guntha</option>
                                            <option value="Are" class="form-option">Are</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '0' ||
                            propertyForm.value.propertyType === '1' ||
                            propertyForm.value.propertyType === '2' ||
                            propertyForm.value.propertyType === '3' ||
                            propertyForm.value.propertyType === '5' ||
                            propertyForm.value.propertyType === '6' || 
                            propertyForm.value.propertyType === '7' ||
                            propertyForm.value.propertyType === '8' ||
                            propertyForm.value.propertyType === '14' ||
                            propertyForm.value.propertyType === '15' ||
                            propertyForm.value.propertyType === '17'">
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" class="form-control" formControlName="superArea" placeholder="Per Sq ft Area">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="superAreaUnit">
                                            <option value="Sq-ft" class="form-option">Sq-ft</option>
                                            <option value="Sq-yrd" class="form-option">Sq-yrd</option>
                                            <option value="Sq-m" class="form-option">Sq-m</option>
                                            <option value="Acre" class="form-option">Acre</option>
                                            <option value="Bigha" class="form-option">Bigha</option>
                                            <option value="Hectare" class="form-option">Hectare</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Kanal" class="form-option">Kanal</option>
                                            <option value="Biswa1" class="form-option">Biswa1</option>
                                            <option value="Biswa2" class="form-option">Biswa2</option>
                                            <option value="Ground" class="form-option">Ground</option>
                                            <option value="Aankadam" class="form-option">Aankadam</option>
                                            <option value="Rood" class="form-option">Rood</option>
                                            <option value="Chatak" class="form-option">Chatak</option>
                                            <option value="Kottah" class="form-option">Kottah</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Cent" class="form-option">Cent</option>
                                            <option value="Perc" class="form-option">Perc</option>
                                            <option value="Guntha" class="form-option">Guntha</option>
                                            <option value="Are" class="form-option">Are</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12" *ngIf="propertyForm.value.propertyType === '11' || 
                                propertyForm.value.propertyType === '12' ||
                                propertyForm.value.propertyType === '4' ||
                                propertyForm.value.propertyType === '13' || 
                                propertyForm.value.propertyType === '16'">
                                <label class="form-label">Plot Area</label>
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" class="form-control" formControlName="plotArea">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="plotAreaUnit">
                                            <option value="Sq-ft" class="form-option">Sq-ft</option>
                                            <option value="Sq-yrd" class="form-option">Sq-yrd</option>
                                            <option value="Sq-m" class="form-option">Sq-m</option>
                                            <option value="Acre" class="form-option">Acre</option>
                                            <option value="Bigha" class="form-option">Bigha</option>
                                            <option value="Hectare" class="form-option">Hectare</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Kanal" class="form-option">Kanal</option>
                                            <option value="Biswa1" class="form-option">Biswa1</option>
                                            <option value="Biswa2" class="form-option">Biswa2</option>
                                            <option value="Ground" class="form-option">Ground</option>
                                            <option value="Aankadam" class="form-option">Aankadam</option>
                                            <option value="Rood" class="form-option">Rood</option>
                                            <option value="Chatak" class="form-option">Chatak</option>
                                            <option value="Kottah" class="form-option">Kottah</option>
                                            <option value="Marla" class="form-option">Marla</option>
                                            <option value="Cent" class="form-option">Cent</option>
                                            <option value="Perc" class="form-option">Perc</option>
                                            <option value="Guntha" class="form-option">Guntha</option>
                                            <option value="Are" class="form-option">Are</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6 col-sm-12"
                                *ngIf="propertyForm.value.propertyType === '9' || propertyForm.value.propertyType === '10'">
                                <label class="form-label">Width of entrance</label>
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" class="form-control" formControlName="entranceWidth">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="entranceWidthUnit">
                                            <option value="ft" class="form-option">ft</option>
                                            <option value="meters" class="form-option">meters</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="location rent" *ngIf="propertyForm.value.propertyOption === 'rent'">
                        <div class="property-details mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M1 3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1zm7 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4"/>
  <path d="M0 5a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1zm3 0a2 2 0 0 1-2 2v4a2 2 0 0 1 2 2h10a2 2 0 0 1 2-2V7a2 2 0 0 1-2-2z"/>
                            </svg>
                            <h5>Rent Details</h5>   
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-6">
                                <input type="number" class="form-control" formControlName="monthlyRent" placeholder="Monthly Rent in Rs...">
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" class="form-control" formControlName="mintanceCharge" placeholder="Deposite Charge in Rs...">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="mintanceChargeUnit">
                                            <option value="monthly" class="form-option">monthly</option>
                                            <option value="quarterly" class="form-option">quarterly</option>
                                            <option value="per sq. unit " class="form-option">per sq. unit monthly
                                            </option>
                                            <option value="one-time" class="form-option">one-time</option>
                                            <option value="yearly" class="form-option">yearly</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="rentnegotiablePrice"
                                        formControlName="rentnegotiablePrice" value="price is negotiable">
                                    <label class="form-check-label fs-6 fw-bold">
                                        Price is negotiable
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="location sell" *ngIf="propertyForm.value.propertyOption === 'sell'">
                        <h5>Price Details</h5>
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12">
                                <label class="form-label">Expected Price</label>
                                <div class="input-group">
                                    <div class="col-lg-9">
                                        <input type="number" class="form-control" formControlName="expectedPrice">
                                    </div>
                                    <div class="col-lg-3">
                                        <select class="form-select" formControlName="expectedPriceType">
                                            <option value="lac" class="form-option">lac</option>
                                            <option value="cr" class="form-option">cr</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-lg-4 col-sm-6">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="saleNagociablePrice"
                                        formControlName="saleNagociablePrice" value="price is nagociable">
                                    <label class="form-check-label">
                                        Price is negotiable
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="location">
                        <div class="property-details mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M.5 0a.5.5 0 0 1 .5.5v15a.5.5 0 0 1-1 0V.5A.5.5 0 0 1 .5 0M2 1.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1-.5-.5zm2 4a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                            <h5>Amenities</h5>   
                        </div>
                        <div class="row mt-3">
                            <div class="form-check col-sm-6"
                                *ngFor="let control of ['Sitting Area', 'Multipurpose Play Court', 'Multipurpose Hall', 'Kids Play Area', 'Indoor Games', 'Toddler Area','Party Lawn', 'Banquet Hall', 'Gymnasium', 'Yoga', 'Walking Track', 'Swimming Pool','24x7 Camera Security', 'Roof Top Garden', 'Intercom']">
                                <input class="form-check-input" type="checkbox"
                                    [checked]="propertyForm.get('amenities')?.value.includes(control)"
                                    (change)="onCheckboxChange($event, control)">
                                <label class="form-check-label fs-6 m-1">
                                    {{ control }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="location">
                        <div class="property-details mb-2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-buildings text-primary" viewBox="0 0 16 16">
                                <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2M14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1M2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1z"/>
                            </svg>
                            <h5>Add Photos Now</h5>  
                        </div>
                        
                        <div class="row">
                            <div class="form-group col-lg-6 col-sm-12">
                                <input type="file" class="form-control" multiple (change)="onFileChange($event)"
                                    formControlName="propertiesFile">
                            </div>
                            <div class="col-lg-12 col-sm-12 uploadImg-container">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-12 mt-2"
                                        *ngFor="let url of propertiesFilesSource; let i = index">
                                        <img [src]="url" alt="property images" style="width:100%;">
                                        <div class="d-flex mt-1">
                                            <input class="form-check-input" type="radio" [value]="i"
                                                [checked]="i === defaultImageIndex" (change)="onSelectDefaultImage(i)"
                                                formControlName="defaultImage">
                                            <label class="ms-2">Choose Default images</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button -->
                    <button type="submit" class="btn btn-primary my-3 rounded col-sm-9">Submit Property</button>
                </form>
            </div>
        </div>
    </div>