<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets\icons\Estatecorp-logo.png" alt="ESTATECORP">
    </a>
    <div class="menu-container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span> 
      </button>
      <li class="nav-item dropdown logout-responsive">
        <a class="nav-link logout-btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span>D</span>
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Logout</a></li>
        </ul>
      </li>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Residential
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/resident-buy']" routerLinkActive="router-link-active" >Buy</a></li>
            <li><a class="dropdown-item" [routerLink]="['/resident-rent']" routerLinkActive="router-link-active" >Rent</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Commercial
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/commercial-buy']" routerLinkActive="router-link-active" >Buy</a></li>
            <li><a class="dropdown-item" [routerLink]="['/commercial-rent']" routerLinkActive="router-link-active" >Rent</a></li>
          </ul>
        </li>
        
        <li class="nav-item dropdown" *ngIf="userType === 'isUser' || userType === 'isAdmin' && loginStatus === 'success'">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sell
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/add-property']" routerLinkActive="router-link-active" >Add New Property</a></li>
            <li><a class="dropdown-item" [routerLink]="['/sell-dashboard']" routerLinkActive="router-link-active">My Dashboard</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/about']" routerLinkActive="router-link-active" >About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Help</a>
        </li>
        <li class="nav-item dropdown" *ngIf="userType === 'isAdmin' && loginStatus === 'success'">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dashboard
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" [routerLink]="['/user-deshboard']" routerLinkActive="router-link-active" >User List</a></li>
            <li><a class="dropdown-item" [routerLink]="['/property-list']" routerLinkActive="router-link-active" >Property List</a></li>
            <li><a class="dropdown-item" href="#">Add Project</a></li>
            <li><a class="dropdown-item" href="#">Project List</a></li>
          </ul>
        </li>
      </ul>
      <a [routerLink]="['/add-property']" routerLinkActive="router-link-active" >
        <button type="button" class="btn btn-addProperty">Add Property
          <img src="../../../assets/icons/freetag.svg" alt="free tage" class="icons">
        </button>
      </a>
      <li class="nav-item dropdown logout-nonresponsive" *ngIf="loginStatus === 'success'">
        <a class="nav-link logout-btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          <span>{{name.charAt(0)}}</span>
        </a>
        <ul class="dropdown-menu logout-menu">
          <li class="dropdown-item">Hi, {{name}}</li>
          <li><a class="dropdown-item logout" (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </div>
  </div>
</nav>