<!-- <p>login works!</p> -->
<div class="login-container">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <img src="https://cdn.dribbble.com/users/2317423/screenshots/16000911/media/90e03920f82d93743ba7a0a95c584461.jpg?resize=400x300&vertical=center" alt="login-images.jpg" class="login-image">
            </div>
            <div class="col-sm-4">
                <div class="login-form">
                    <h3 class="fs-3 fw-bold">Log in</h3>
                    <p>Enter your credentials and get ready to explore!</p>
                    <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">
                        <div class="mb-3">
                            <input type="email" class="form-control lh-sm px-4 fs-5" formControlName="email" placeholder="Email">                            
                            <div *ngIf="loginForm.controls['email'].invalid && loginForm.controls['email'].touched"
                                class="error-message">
                                <div *ngIf="loginForm.controls['email'].errors?.['required']">Email is required</div>
                                <div *ngIf="loginForm.controls['email'].errors?.['email']">
                                    Please Enter the valid Email id
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control lh-sm px-4 fs-5" formControlName="password" placeholder="Password">
                            <small class="error-message">{{loginError}}</small>
                        </div>
                        <div class="mb-3">
                            <small><b><a href="" class="d-flex justify-content-end">Forget Password?</a></b></small>
                        </div>
                        <button type="submit" class="btn btn-primary mb-4" [disabled]="loginForm.invalid">Submit</button>
                    </form>
                    <small><b>Not a member? <a [routerLink]="['/signup']" routerLinkActive="router-link-active">Signup now</a></b></small> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row">
        <div class="col-lg-10">
            <app-bigcard></app-bigcard>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div> -->