<!-- <p>about works!</p> -->
<app-navbar></app-navbar>
<app-banner></app-banner>

<div class="container about-container">
    <div class="row about-flex">
        <div class="col-lg-6 col-md-12 about-content">
            <h5><img src="../../../assets/icons/stars.svg" alt="stars" class="icons"> About Us</h5>
            <p>Launched in 2005, 99acres.com, India’s No. 1 property portal, deals with every aspect of the consumers’
                needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can
                exchange information about real estate properties quickly, effectively and inexpensively. At
                99acres.com, you can advertise a property, search for a property, browse through properties, build your
                own property microsite, and keep yourself updated with the latest news and trends making headlines in
                the realty sector.</p>
            <a href="" class="btn btn-about">Read More</a>
        </div>
        <div class="col-lg-6 col-md-12">
            <img src="../../../assets/bg-image/aboutus_back.jpeg" alt="" class="about-us-img">
        </div>
    </div>
</div>


<!-- owner cards design  -->
<div class="owner-container">
    <div class="owner-heading">
        <h3>Owner's Choice</h3>
        <p>Lorem ipsum dolor sit amet, cons</p>
        <hr />
    </div>
    <div class="container marketing">
        <!-- Three columns of text below the carousel -->
        <div class="row flex-owner-card">
            <div class="col-lg-3 owner-card">
                <img src="../../../assets/card/third-owner.jpeg" alt="first-owner.jpg" class="owner-img">
                <h4 class="fw-normal">Mr. Ajay Singh Kushwah</h4>
                <p>(Managing Director, <br> BSc-Maths)</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3 owner-card">
                <img src="../../../assets/card/second-owner.jpeg" alt="second-owner.jpg" class="owner-img">
                <h4 class="fw-normal">Mr. Rakesh Gaykar (Founder)</h4>
                <p>(Founder & Managing Director, <br> MBA in Sales & Marketing)</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3 owner-card">
                <img src="../../../assets/card/first-owner.jpeg" alt="third-owner.jpg" class="owner-img">
                <h4 class="fw-normal">Mr. Prem Dubey</h4>
                <p>Business Associate</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
</div>