<div class="container mt-5">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-step-one *ngIf="currentStep === 1" [parentForm]="form"></app-step-one>
      <app-step-two *ngIf="currentStep === 2" [parentForm]="form"></app-step-two>
      <app-step-three *ngIf="currentStep === 3" [parentForm]="form"></app-step-three>
  
      <div class="d-flex justify-content-between mt-3">
        <button type="button" class="btn btn-secondary" (click)="previousStep()" *ngIf="currentStep > 1">Previous</button>
        <button type="button" class="btn btn-primary" (click)="nextStep()" *ngIf="currentStep < 3">Next</button>
        <button type="submit" class="btn btn-success" *ngIf="currentStep === 3">Submit</button>
      </div>
    </form>
  </div>
