/* You can add global styles to this file, and also import other style files */
:root{

    /* text color collection  */
    --black: #000000;
    --white: #ffffff;
    --dark-blue2: #51E2FD;
    --red: #ff0000;
    --red-shad-1: #c2113e;
    --green: #008000;




    /* background color collection  */
    --background-white: #ffffff;
    --background-black: #000000;
    --background-lightBlue1: #00CDFE;
    --background-lightBlue2: #51E2FD;
    --background-darkYellow1: #FEF75B;
    --background-darkYellow2: #FADF3D;
    --background-lightRed: #DE2C44;
    --background-darkRed1: #C2113E;
    --background-darkWhite1: #eff1f1;
    --background-green: #008000;
    
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

h1, h2, h3, h4, h5{
    margin: 0 !important;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
         url('/assets/fonts/roboto-v20-latin-regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('/assets/fonts/roboto-v20-latin-700.woff2') format('woff2'),
         url('/assets/fonts/roboto-v20-latin-700.woff') format('woff');
  }
  
  /* Apply the font to your app */
  body {
    font-family: 'Roboto', sans-serif;
  }

body{
    font-family: 'Roboto',Arial, sans-serif;
    line-height: 1.6;
}

li{
    list-style: none;
}

a{
    text-decoration: none !important;
}

.icons{
    width: 15px;
    height: 15px;
}


.card-link{
    text-decoration: none;
    color: var(--black);
}

.link-btn{
    text-decoration: none;
    color: var(--white);
    background: var(--background-lightRed);
    border-radius: 10px;
    padding: 0.5rem 1rem;
}

.link-btn:hover{
    color: var(--white);
    background: var(--background-lightRed); 
}

.error-message{
    color: var(--red);
    font-size: 0.9rem;
}

.margin-top5{
    margin-top: 3rem;
}


.font20{
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .margin-top5{
        margin-top: 1rem;
    }
}