@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #fff;
  }
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav DropdownLink:hover{
    color: red !important;
  }

/* For extra small screens (mobile) */
@media (max-width: 640px) {
  .carousel-card { width: 100%; }
}

/* For small screens (tablet) */
@media (min-width: 640px) and (max-width: 1024px) {
  .carousel-card { width: 50%; }
}

/* For large screens (desktop) */
@media (min-width: 1024px) {
  .carousel-card { width: 33.33%; }
}
