<div class="col-md-4 mb-4" *ngFor="let property of properties">
  <div class="card">
    <img src="{{ property.defaultImage }}" class="card-img-top" alt="Villa Image">
    <div class="card-body">
      <h5 class="card-title">{{ property.propertyName}}</h5>
      <p class="card-text">{{ property.bathrooms }} bathrooms • {{ property.bedrooms }} bedrooms</p>
      <div class="d-flex justify-content-between align-items-center">
        <div>
          <span>From {{ property.expectedPrice }} {{property.expectedPriceType}} INR</span>
          <span class="badge bg-warning text-dark">{{ property.totalFloor }} ★</span>
        </div>
        <button class="btn btn-outline-secondary">
          <i class="bi bi-heart"></i>
        </button>
      </div>
    </div>
  </div>
</div>

