<!-- 
  <a href="">
    <div class="card global-card">
      <img src="../../../assets/images/property.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <span>{{property.bedrooms}} BHK Flat</span>
        <h6> &#x20B9; 47 Lac | {{property.carpetArea}} {{property.carpetAreaUnit}}</h6>
        <p class="card-text">{{property.possesionStatus}}</p>
        <a href="" class="link-btn">View Detail</a>
      </div>
    </div>
  </a> -->

  <a href="">
    <div class="card global-card">
      <img src="../../../assets/images/property.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <span> {{property.propertyName}}</span>
        <span> {{property.bedrooms}} BHK Flat | {{property.carpetArea}} {{property.carpetAreaUnit}}</span>
        <h6>  {{property.possesionStatus}}</h6>
        <h6> &#x20B9; 3Lac </h6>
        <p> Location - {{property.locality}} - {{property.city}}</p>
        <a href="" class="link-btn">View Detail</a>
      </div>
    </div>
  </a>
