/* .global-card {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .global-card:hover {
    transform: scale(1.05); 
  }
  
  .global-card p{
    margin-bottom: 1rem !important;
  }
  
  .card-body {
    position: relative;
  }
  
  .link-btn {
    
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s, bottom 0.3s; 
  }
  
  .global-card:hover .link-btn {
    opacity: 1; 
    bottom: 20px; 
  } */



  /* Villa Listings Styles */
.villa-listings {
  margin-top: 20px;
}

.villa-card {
  display: flex;
  justify-content: space-around;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 30rem;
  padding: 15px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.villa-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.villa-card img {
  width: 70%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.villa-footer h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.villa-card p {
  color: #777;
  margin-bottom: 15px;
  font-size: 14px;
}

.card-body {
  position: relative;
}

.villa-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.villa-footer .price {
  font-size: 18px;
  font-weight: bold;
  color: #ff4e8a;
}

.villa-footer .rating {
  color: #ff9900;
  font-size: 16px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header .search-bar input {
      width: 100%;
  }

  .category-menu .container {
      flex-direction: column;
  }

  .villa-listings {
      flex-direction: column;
  }

  .villa-card {
      width: 100%;
  }
}

  
  